html {
    background: linear-gradient(160deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    padding: 1.25rem;
    min-height: 100%;
}

.hidden {
    display: none;
}

#mssg-playagain {
    font-weight: normal;
    visibility: hidden;
}

.title-difficulty {
    width: 25rem;
    padding: 0 7.625rem;
    margin: 0 auto;
}

h1 {
    white-space: nowrap;
    margin-bottom: .125rem;
}

.h1_special {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.difficulty {
    display: flex;
    justify-content: space-around;
}

/* normal, hard, rules btns */
.buttons {
    background: rgb(33, 255, 33);
    outline: none;
    border: .0625rem solid black;
    border-radius: .25rem;
    margin: .625rem;
    height: 2.1875rem;
    width: 5.3125rem;
    -webkit-box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset;
    -moz-box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset;
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset;
    transition: .25s;
}

.buttons:hover {
    background: rgb(0, 199, 0);
    outline: none;
    border: .125rem solid black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.buttons:active {
    background: red;
    border: none;
}

#rules-btn {
    background-color: lightblue;
}

#rules-btn:hover {
    background-color: rgb(95, 191, 223);
}

#rules-btn:active {
    background-color: teal;
}

.left-center-right {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.left {
    width: 7.5rem;
    padding: .625rem 0 0 .688rem; 
    text-align: left;
    background: rgba(173, 216, 230, .5);
    border: .0625rem solid black;
    border-right: none;
}

.right {
    width: 7.5rem;
    height: 24.5rem;
    padding: .625rem .3125rem 0 .3125rem;
    background: rgba(173, 216, 230, .5);
    border: .0625rem solid black;
    border-left: none;
}

.grid-object {
    position: relative;
    border: .125rem solid black;
    height: 25rem;
    min-width: 25rem;
}

.grid-box {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.rules-box {
    position: absolute;
    background-color: rgba(190, 225, 250, 0.97);
    height: 100%;
    width: 100%;
    overflow: auto;
}

.rules-begin-end {
    display: block;
    text-align: left;
    padding: 0 1.65rem;
    margin-top: .5rem;
}

.rules-list {
    text-transform: uppercase;
    font-size: .8rem;
    text-align: left;
    padding: 0 .9375rem 0;
}

.rules-spacing {
    margin: .875rem 0 0 0;
    padding: 0 0 0 .625rem;
}

.rules-spacing-top {
    margin: .5rem 0 0 0;
    padding: 0 0 0 .625rem;
}

.rows {
    display: flex;
    text-align: center;
}

.column-btns {
    background-color: green;
    border: .0625rem solid black;
    outline: none;
}

.column-btns:hover {
    background: black;
}

.column-btns:active {
    background: red;
}

.result-display {
    margin: 0 auto .9375rem;
    width: 6.625rem;
    height: 1.5625rem;
    line-height: 1.625rem;
}

.answer {
    background-color: teal;
    border: .125rem solid black;
    outline: none;
    width: 6.625rem;
    height: 1.5625rem;
    margin-bottom: .125rem;
    transition: .25s;

}

.answer:hover {
    background-color: lightblue;
}

.hide-btn {
    display: none;
    background: dimgrey;
    border: .125rem solid black;
    outline: none;
    width: 6.625rem;
    height: 1.5625rem;
    margin-bottom: .125rem;
    margin-top: .625rem;

}

.hide-btn:hover {
    background: grey;
}

.score-time {
    margin-top: .3125rem;
    margin-bottom: .625rem;
}

.info-box {
    background-color: rgba(0, 128, 128, .75);
    border: .125rem solid black;
    border-bottom: .0625rem solid black;
    outline: none;
    width: 6.5rem;
    padding: 0;
    margin: 0;
}

.info-title {
    background-color: rgba(0, 128, 128, .75);
    text-align: center;
    padding: .25rem .125rem .25rem .125rem;
    margin: 0;
}

.info-box-score {
    background-color: lightblue;
    height: 1.0625rem;
    padding: .3125rem 0 .25rem .75rem;
    margin: 0;
}

.your-score {
    margin: 0;
    padding: 0 0 0 .3125rem;
}

.info-box-ranking {
    background-color: lightblue;
    height: 5.3125rem;
    padding: .3125rem 0 .25rem .75rem;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 .3125rem;
}

.delete-btn {
    background: red;
    outline: none;
    border: .125rem solid black;
    height: 2.1875rem;
    width: 6.75rem;
    font-weight: bold;
    font-size: .75rem;
    /* -webkit-box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset;
    -moz-box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset;
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .9) inset; */
    transition: .25s;
}

.delete-btn:hover {
    background: darkred;
    /* outline: none; */
    /* border: .125rem solid black;
    font-size: .8rem; */
    /* -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; */
}

.delete-btn:active {
    background: black;
    color: white;
}

footer {
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}


/* Screen 770px and down */
@media only screen and (max-width: 770px) {
    .wrapper {
        padding: 1rem;
    }

    .title-difficulty {
        width: unset;
        padding: unset;
        margin: 0 auto;
    }

    h1 {
        margin-top: .3125rem;
        font-size: 1.5rem;
    }

    .h1_special {
        font-size: 1.35rem;
    }

    .left-center-right {
        display: flex;
        flex-direction: column;
    }

    .left {
        order: 3;
        width: 99%;
        margin: .3125rem auto 0;
        border: .0625rem solid black;
        padding: unset;
        padding-bottom: .3rem;
    }

    .score-time {
        display: flex;
        justify-content: space-evenly;
        padding-top: .5rem;
    }

    .info-box {
        width: 14.75rem;
        margin: 0 auto;
        text-align: center;
    }

    .delete-btn {
        display: block;
        width: 14.95rem;
        margin: 0 auto;
        font-size: 1.25rem;
        text-transform: uppercase;
        height: 2.45rem;
        line-height: 2.2rem;
        transition: unset;
    }

    /* .delete-btn:hover {
        font-size: 1.25rem;
        line-height: 2.4rem;
    } */

    .grid-object {
        order: 1;
        margin: .625rem auto 1.25rem;
        min-width: unset;
        padding-bottom: 98.5%;
        width: 98.5%;
        height: 0;
    }

    .grid-box {
        width: 100%;
        height: 100%;
        left: 0;
    }

    .right {
        order: 2;
        width: 98%;
        height: unset;
        margin: -.95rem auto 0;
        padding: .625rem .125rem 0 .125rem;
        border: .0625rem solid black;
    }

    .result-display {
        margin: 0 auto;

    }

    .answer-btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: .1875rem;
    }
    
    .answer {
        margin-top: .3125rem;
        width: 31%;
        height: 2.1875rem;
        font-weight: bold;
        font-size: 1rem;

    }

    .hide-btn {
        display: unset;
        margin-top: .3125rem;
        width: 31%;
        height: 2.1875rem;
        font-weight: bold;

    }

    footer {
        padding-bottom: .5rem;
    }
}