* {
    box-sizing: border-box;
}

.grid-box {
    background: white;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.rows {
    display: flex;
    text-align: center;

}

.columns {
    /* background-color: rgba(0, 255, 0, 1); */
    background-color: green;
    outline: 1px solid black;
}

.columns:hover {
    background: black;
}

.columns:active {
    background: red;
}